In [1]:
!pip install apache-airflow

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting apache-airflow
  Downloading apache_airflow-2.6.0-py3-none-any.whl (12.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.1/12.1 MB 48.4 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.3 in /usr/local/lib/python3.10/dist-packages (from apache-airflow) (2.8.2)
Requirement already satisfied: attrs>=22.1.0 in /usr/local/lib/python3.10/dist-packages (from apache-airflow) (23.1.0)
Requirement already satisfied: pydantic>=1.10.0 in /usr/local/lib/python3.10/dist-packages (from apache-airflow) (1.10.7)
Requirement already satisfied: markdown-it-py>=2.1.0 in /usr/local/lib/python3.10/dist-packages (from apache-airflow) (2.2.0)
Requirement already satisfied: python-slugify>=5.0 in /usr/local/lib/python3.10/dist-packages (from apache-airflow) (8.0.1)
Collecting flask-caching>=1.5.0
  Downloading Flask_Caching-2.0.2-py3-none-any.whl (28 kB)
Collecting unicodecsv>=0.14.1
  Downloading unicodecsv-0.14.1.tar.gz (10 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from apache-airflow) (2.3.0)
Collecting marshmallow-oneofschema>=2.0.1
  Downloading marshmallow_oneofschema-3.0.1-py2.py3-none-any.whl (5.8 kB)
Requirement already satisfied: cryptography>=0.9.3 in /usr/local/lib/python3.10/dist-packages (from apache-airflow) (40.0.2)
Collecting gunicorn>=20.1.0
  Downloading gunicorn-20.1.0-py3-none-any.whl (79 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.5/79.5 kB 8.9 MB/s eta 0:00:00
Requirement already satisfied: psutil>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from apache-airflow) (5.9.5)
Requirement already satisfied: graphviz>=0.12 in /usr/local/lib/python3.10/dist-packages (from apache-airflow) (0.20.1)
Requirement already satisfied: pygments>=2.0.1 in /usr/local/lib/python3.10/dist-packages (from apache-airflow) (2.14.0)
Collecting sqlalchemy<2.0,>=1.4
  Downloading SQLAlchemy-1.4.48-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 78.2 MB/s eta 0:00:00
Requirement already satisfied: tenacity!=8.2.0,>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from apache-airflow) (8.2.2)
Collecting cron-descriptor>=1.2.24
  Downloading cron_descriptor-1.3.0.tar.gz (29 kB)
  Preparing metadata (setup.py) ... done
Collecting configupdater>=3.1.1
  Downloading ConfigUpdater-3.1.1-py2.py3-none-any.whl (34 kB)
Collecting pendulum>=2.0
  Downloading pendulum-2.1.2.tar.gz (81 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 81.2/81.2 kB 8.7 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting colorlog<5.0,>=4.0.2
  Downloading colorlog-4.8.0-py2.py3-none-any.whl (10 kB)
Collecting connexion[flask]>=2.10.0
  Downloading connexion-2.14.2-py2.py3-none-any.whl (95 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.1/95.1 kB 10.2 MB/s eta 0:00:00
Collecting deprecated>=1.2.13
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Collecting mdit-py-plugins>=0.3.0
  Downloading mdit_py_plugins-0.3.5-py3-none-any.whl (52 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 52.1/52.1 kB 5.5 MB/s eta 0:00:00
Collecting rich-argparse>=1.0.0
  Downloading rich_argparse-1.1.0-py3-none-any.whl (12 kB)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from apache-airflow) (4.5.0)
Requirement already satisfied: werkzeug>=2.0 in /usr/local/lib/python3.10/dist-packages (from apache-airflow) (2.3.0)
Collecting pyjwt>=2.0.0
  Downloading PyJWT-2.6.0-py3-none-any.whl (20 kB)
Requirement already satisfied: pluggy>=1.0 in /usr/local/lib/python3.10/dist-packages (from apache-airflow) (1.0.0)
Requirement already satisfied: jinja2>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from apache-airflow) (3.1.2)
Collecting httpx
  Downloading httpx-0.24.0-py3-none-any.whl (75 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 75.3/75.3 kB 7.6 MB/s eta 0:00:00
Collecting apache-airflow-providers-http
  Downloading apache_airflow_providers_http-4.3.0-py3-none-any.whl (22 kB)
Collecting flask-appbuilder==4.3.0
  Downloading Flask_AppBuilder-4.3.0-py3-none-any.whl (2.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.5/2.5 MB 52.8 MB/s eta 0:00:00
Collecting lazy-object-proxy
  Downloading lazy_object_proxy-1.9.0-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (63 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 63.3/63.3 kB 6.6 MB/s eta 0:00:00
Collecting sqlalchemy-jsonfield>=1.0
  Downloading SQLAlchemy_JSONField-1.0.1.post0-py3-none-any.whl (10 kB)
Requirement already satisfied: markdown>=3.0 in /usr/local/lib/python3.10/dist-packages (from apache-airflow) (3.4.3)
Collecting pathspec~=0.9.0
  Downloading pathspec-0.9.0-py2.py3-none-any.whl (31 kB)
Collecting python-daemon>=3.0.0
  Downloading python_daemon-3.0.1-py3-none-any.whl (31 kB)
Collecting apache-airflow-providers-imap
  Downloading apache_airflow_providers_imap-3.1.1-py3-none-any.whl (17 kB)
Collecting argcomplete>=1.10
  Downloading argcomplete-3.0.8-py3-none-any.whl (40 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.0/40.0 kB 3.6 MB/s eta 0:00:00
Requirement already satisfied: flask<2.3,>=2.2 in /usr/local/lib/python3.10/dist-packages (from apache-airflow) (2.2.4)
Collecting lockfile>=0.12.2
  Downloading lockfile-0.12.2-py2.py3-none-any.whl (13 kB)
Requirement already satisfied: tabulate>=0.7.5 in /usr/local/lib/python3.10/dist-packages (from apache-airflow) (0.8.10)
Requirement already satisfied: itsdangerous>=2.0 in /usr/local/lib/python3.10/dist-packages (from apache-airflow) (2.1.2)
Collecting python-nvd3>=0.15.0
  Downloading python-nvd3-0.15.0.tar.gz (31 kB)
  Preparing metadata (setup.py) ... done
Collecting setproctitle>=1.1.8
  Downloading setproctitle-1.3.2-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (30 kB)
Collecting apache-airflow-providers-ftp
  Downloading apache_airflow_providers_ftp-3.3.1-py3-none-any.whl (19 kB)
Collecting apache-airflow-providers-sqlite
  Downloading apache_airflow_providers_sqlite-3.3.2-py3-none-any.whl (15 kB)
Collecting cattrs>=22.1.0
  Downloading cattrs-22.2.0-py3-none-any.whl (35 kB)
Collecting croniter>=0.3.17
  Downloading croniter-1.3.14-py2.py3-none-any.whl (18 kB)
Collecting flask-login>=0.6.2
  Downloading Flask_Login-0.6.2-py3-none-any.whl (17 kB)
Collecting flask-session>=0.4.0
  Downloading Flask_Session-0.4.1-py2.py3-none-any.whl (7.5 kB)
Collecting linkify-it-py>=2.0.0
  Downloading linkify_it_py-2.0.2-py3-none-any.whl (19 kB)
Collecting apache-airflow-providers-common-sql
  Downloading apache_airflow_providers_common_sql-1.4.0-py3-none-any.whl (31 kB)
Collecting flask-wtf>=0.15
  Downloading Flask_WTF-1.1.1-py3-none-any.whl (12 kB)
Collecting asgiref
  Downloading asgiref-3.6.0-py3-none-any.whl (23 kB)
Requirement already satisfied: markupsafe>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from apache-airflow) (2.1.2)
Collecting dill>=0.2.2
  Downloading dill-0.3.6-py3-none-any.whl (110 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 110.5/110.5 kB 11.3 MB/s eta 0:00:00
Requirement already satisfied: rich>=12.4.4 in /usr/local/lib/python3.10/dist-packages (from apache-airflow) (13.3.4)
Collecting rfc3339-validator>=0.1.4
  Downloading rfc3339_validator-0.1.4-py2.py3-none-any.whl (3.5 kB)
Collecting alembic<2.0,>=1.6.3
  Downloading alembic-1.10.4-py3-none-any.whl (212 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 212.9/212.9 kB 13.1 MB/s eta 0:00:00
Requirement already satisfied: packaging>=14.0 in /usr/local/lib/python3.10/dist-packages (from apache-airflow) (23.1)
Collecting blinker
  Downloading blinker-1.6.2-py3-none-any.whl (13 kB)
Requirement already satisfied: jsonschema>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from apache-airflow) (4.3.3)
Collecting Flask-SQLAlchemy<3,>=2.4
  Downloading Flask_SQLAlchemy-2.5.1-py2.py3-none-any.whl (17 kB)
Collecting Flask-JWT-Extended<5.0.0,>=4.0.0
  Downloading Flask_JWT_Extended-4.4.4-py2.py3-none-any.whl (22 kB)
Requirement already satisfied: click<9,>=8 in /usr/local/lib/python3.10/dist-packages (from flask-appbuilder==4.3.0->apache-airflow) (8.1.3)
Collecting marshmallow-enum<2,>=1.5.1
  Downloading marshmallow_enum-1.5.1-py2.py3-none-any.whl (4.2 kB)
Collecting Flask-Babel<3,>=1
  Downloading Flask_Babel-2.0.0-py3-none-any.whl (9.3 kB)
Collecting WTForms<4
  Downloading WTForms-3.0.1-py3-none-any.whl (136 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 136.5/136.5 kB 14.0 MB/s eta 0:00:00
Collecting prison<1.0.0,>=0.2.1
  Downloading prison-0.2.1-py2.py3-none-any.whl (5.8 kB)
Collecting email-validator<2,>=1.0.5
  Downloading email_validator-1.3.1-py2.py3-none-any.whl (22 kB)
Collecting marshmallow-sqlalchemy<0.27.0,>=0.22.0
  Downloading marshmallow_sqlalchemy-0.26.1-py2.py3-none-any.whl (15 kB)
Collecting marshmallow<4,>=3
  Downloading marshmallow-3.19.0-py3-none-any.whl (49 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.1/49.1 kB 4.0 MB/s eta 0:00:00
Collecting colorama<1,>=0.3.9
  Downloading colorama-0.4.6-py2.py3-none-any.whl (25 kB)
Collecting apispec[yaml]<6,>=3.3
  Downloading apispec-5.2.2-py3-none-any.whl (29 kB)
Collecting Flask-Limiter<4,>3
  Downloading Flask_Limiter-3.3.1-py3-none-any.whl (27 kB)
Collecting sqlalchemy-utils<1,>=0.32.21
  Downloading SQLAlchemy_Utils-0.41.1-py3-none-any.whl (92 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 92.6/92.6 kB 9.9 MB/s eta 0:00:00
Collecting Mako
  Downloading Mako-1.2.4-py3-none-any.whl (78 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.7/78.7 kB 8.7 MB/s eta 0:00:00
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from cattrs>=22.1.0->apache-airflow) (1.1.1)
Requirement already satisfied: requests<3,>=2.9.1 in /usr/local/lib/python3.10/dist-packages (from connexion[flask]>=2.10.0->apache-airflow) (2.27.1)
Collecting werkzeug>=2.0
  Downloading Werkzeug-2.2.3-py3-none-any.whl (233 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 233.6/233.6 kB 20.9 MB/s eta 0:00:00
Collecting clickclick<21,>=1.2
  Downloading clickclick-20.10.2-py2.py3-none-any.whl (7.4 kB)
Requirement already satisfied: PyYAML<7,>=5.1 in /usr/local/lib/python3.10/dist-packages (from connexion[flask]>=2.10.0->apache-airflow) (6.0)
Collecting inflection<0.6,>=0.3.1
  Downloading inflection-0.5.1-py2.py3-none-any.whl (9.5 kB)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.10/dist-packages (from cryptography>=0.9.3->apache-airflow) (1.15.1)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.10/dist-packages (from deprecated>=1.2.13->apache-airflow) (1.14.1)
Collecting cachelib<0.10.0,>=0.9.0
  Downloading cachelib-0.9.0-py3-none-any.whl (15 kB)
Requirement already satisfied: setuptools>=3.0 in /usr/local/lib/python3.10/dist-packages (from gunicorn>=20.1.0->apache-airflow) (67.7.2)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=4.0.0->apache-airflow) (0.19.3)
Collecting uc-micro-py
  Downloading uc_micro_py-1.0.2-py3-none-any.whl (6.2 kB)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.10/dist-packages (from markdown-it-py>=2.1.0->apache-airflow) (0.1.2)
Collecting pytzdata>=2020.1
  Downloading pytzdata-2020.1-py2.py3-none-any.whl (489 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 490.0/490.0 kB 37.8 MB/s eta 0:00:00
Requirement already satisfied: docutils in /usr/local/lib/python3.10/dist-packages (from python-daemon>=3.0.0->apache-airflow) (0.16)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.3->apache-airflow) (1.16.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify>=5.0->apache-airflow) (1.3)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy<2.0,>=1.4->apache-airflow) (2.0.2)
Requirement already satisfied: sqlparse>=0.4.2 in /usr/local/lib/python3.10/dist-packages (from apache-airflow-providers-common-sql->apache-airflow) (0.4.4)
Collecting requests-toolbelt
  Downloading requests_toolbelt-1.0.0-py2.py3-none-any.whl (54 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 54.5/54.5 kB 6.0 MB/s eta 0:00:00
Collecting aiohttp
  Downloading aiohttp-3.8.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 64.0 MB/s eta 0:00:00
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from httpx->apache-airflow) (2022.12.7)
Requirement already satisfied: idna in /usr/local/lib/python3.10/dist-packages (from httpx->apache-airflow) (3.4)
Requirement already satisfied: sniffio in /usr/local/lib/python3.10/dist-packages (from httpx->apache-airflow) (1.3.0)
Collecting httpcore<0.18.0,>=0.15.0
  Downloading httpcore-0.17.0-py3-none-any.whl (70 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 70.6/70.6 kB 7.2 MB/s eta 0:00:00
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.12->cryptography>=0.9.3->apache-airflow) (2.21)
Collecting dnspython>=1.15.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 26.1 MB/s eta 0:00:00
Requirement already satisfied: Babel>=2.3 in /usr/local/lib/python3.10/dist-packages (from Flask-Babel<3,>=1->flask-appbuilder==4.3.0->apache-airflow) (2.12.1)
Requirement already satisfied: pytz in /usr/local/lib/python3.10/dist-packages (from Flask-Babel<3,>=1->flask-appbuilder==4.3.0->apache-airflow) (2022.7.1)
Collecting ordered-set<5,>4
  Downloading ordered_set-4.1.0-py3-none-any.whl (7.6 kB)
Collecting limits>=2.8
  Downloading limits-3.4.0-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.1/43.1 kB 4.5 MB/s eta 0:00:00
Requirement already satisfied: anyio<5.0,>=3.0 in /usr/local/lib/python3.10/dist-packages (from httpcore<0.18.0,>=0.15.0->httpx->apache-airflow) (3.6.2)
Collecting h11<0.15,>=0.13
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 6.9 MB/s eta 0:00:00
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.9.1->connexion[flask]>=2.10.0->apache-airflow) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.9.1->connexion[flask]>=2.10.0->apache-airflow) (1.26.15)
Collecting async-timeout<5.0,>=4.0.0a3
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting frozenlist>=1.1.1
  Downloading frozenlist-1.3.3-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (149 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 149.6/149.6 kB 16.0 MB/s eta 0:00:00
Collecting multidict<7.0,>=4.5
  Downloading multidict-6.0.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (114 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.5/114.5 kB 12.4 MB/s eta 0:00:00
Collecting aiosignal>=1.1.2
  Downloading aiosignal-1.3.1-py3-none-any.whl (7.6 kB)
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.9.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (268 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 268.8/268.8 kB 25.9 MB/s eta 0:00:00
Requirement already satisfied: importlib-resources>=1.3 in /usr/local/lib/python3.10/dist-packages (from limits>=2.8->Flask-Limiter<4,>3->flask-appbuilder==4.3.0->apache-airflow) (5.12.0)
Building wheels for collected packages: cron-descriptor, pendulum, python-nvd3, unicodecsv
  Building wheel for cron-descriptor (setup.py) ... done
  Created wheel for cron-descriptor: filename=cron_descriptor-1.3.0-py3-none-any.whl size=48308 sha256=3912d5418dda39ab7e8c97e1cc92d3329a159081887133b3f6b3a2c7ece9dabb
  Stored in directory: /root/.cache/pip/wheels/7f/ab/cc/6fa4b622439d99ba578652f156c790c6c546a5c0625621338a
  Building wheel for pendulum (pyproject.toml) ... done
  Created wheel for pendulum: filename=pendulum-2.1.2-cp310-cp310-manylinux_2_31_x86_64.whl size=168880 sha256=34801f0d53c8282ed2b7d01e47c435d9b68cf104c50475e44db04ead060e7b52
  Stored in directory: /root/.cache/pip/wheels/2e/41/ed/f113e4c9dc10f6c846d69f412e9cd9aa429960a3e2e485a4f9
  Building wheel for python-nvd3 (setup.py) ... done
  Created wheel for python-nvd3: filename=python_nvd3-0.15.0-py3-none-any.whl size=38163 sha256=cdc10e2c6a3e3e8ed3a104e9dfc28b6a4f5309b26907ec6ca1648d17e593c40c
  Stored in directory: /root/.cache/pip/wheels/80/e7/4e/d99e473adde7dd21b9938d4d32bf823ca334e7979632d6a64c
  Building wheel for unicodecsv (setup.py) ... done
  Created wheel for unicodecsv: filename=unicodecsv-0.14.1-py3-none-any.whl size=10766 sha256=0518d083e6c8709a6295d64aa9345e187f31bce0df69a741c77cc623fbdd815e
  Stored in directory: /root/.cache/pip/wheels/9c/ea/66/8e45247b09052a933eb1a680b7c64802298faba58aac9b346b
Successfully built cron-descriptor pendulum python-nvd3 unicodecsv
Installing collected packages: unicodecsv, lockfile, cron-descriptor, colorlog, WTForms, werkzeug, uc-micro-py, sqlalchemy, setproctitle, rfc3339-validator, pytzdata, python-daemon, pyjwt, prison, pathspec, ordered-set, multidict, marshmallow, Mako, lazy-object-proxy, inflection, h11, gunicorn, frozenlist, dnspython, dill, deprecated, configupdater, colorama, clickclick, cattrs, cachelib, blinker, async-timeout, asgiref, argcomplete, apispec, apache-airflow-providers-imap, apache-airflow-providers-ftp, apache-airflow-providers-common-sql, yarl, sqlalchemy-utils, sqlalchemy-jsonfield, requests-toolbelt, python-nvd3, pendulum, mdit-py-plugins, marshmallow-sqlalchemy, marshmallow-oneofschema, marshmallow-enum, linkify-it-py, limits, httpcore, email-validator, croniter, apache-airflow-providers-sqlite, alembic, aiosignal, rich-argparse, httpx, flask-wtf, Flask-SQLAlchemy, flask-session, flask-login, Flask-Limiter, Flask-JWT-Extended, flask-caching, Flask-Babel, connexion, aiohttp, flask-appbuilder, apache-airflow-providers-http, apache-airflow
  Attempting uninstall: werkzeug
    Found existing installation: Werkzeug 2.3.0
    Uninstalling Werkzeug-2.3.0:
      Successfully uninstalled Werkzeug-2.3.0
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.10
    Uninstalling SQLAlchemy-2.0.10:
      Successfully uninstalled SQLAlchemy-2.0.10

In [3]:
from datetime import datetime
from airflow import DAG
from airflow.operators.python_operator import PythonOperator
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime, timedelta

<ipython-input-3-1fe215e8a415>:3 DeprecationWarning: The `airflow.operators.python_operator.PythonOperator` class is deprecated. Please use `'airflow.operators.python.PythonOperator'`.

In [4]:
default_args = {
    'owner': 'airflow',
    'depends_on_past': False,
    'start_date': datetime(2023, 4, 19),
    'retries': 1,
    'retry_delay': timedelta(minutes=5)
}

In [6]:
logging.basicConfig(filename='extract_data.log', level=logging.ERROR)
dag = DAG('data_pipeline', default_args=default_args, schedule ='@daily')

In [7]:
def extract_data():
    try:
        # extracting data from CSV files
        customers = pd.read_csv('customer_data.csv')
        orders = pd.read_csv('order_data.csv')
        payments = pd.read_csv('payment_data.csv')

        # loading the CSV data into Pandas dataframes for later transformation
        return customers, orders, payments
    except Exception as e:
        logging.error(f"An error occurred while extracting data: {e}")

In [8]:
customers, orders, payments = extract_data()

In [9]:
#Checking the customers dataframe
customers

,customer_id,first_name,last_name,email,country,gender,date_of_birth
0,1,John,Doe,john.doe@example.com,USA,Male,1990-01-01
1,2,Jane,Smith,jane.smith@example.com,USA,Female,1992-05-12
2,3,Paul,Mukasa,paul.mukasa@example.com,Rwanda,Male,1985-07-28
3,4,Grace,Uwase,grace.uwase@example.com,Rwanda,Female,1995-12-31
4,5,Emmanuel,Mukiza,emmanuel.mukiza@example.com,Rwanda,Male,1987-03-15
5,6,Angela,Mirembe,angela.mirembe@example.com,Uganda,Female,1991-09-03
6,7,Joseph,Ndung'u,joseph.ndungu@example.com,Kenya,Male,1983-11-11
7,8,Esther,Kimani,esther.kimani@example.com,Kenya,Female,1998-02-20
8,9,David,Mwanza,david.mwanza@example.com,Tanzania,Male,1982-08-08
9,10,Fatma,Said,fatma.said@example.com,Tanzania,Female,1993-06-22

In [10]:
#Checking the payments dataframe
payments

   payment_id  customer_id  order_id payment_date  amount
0           1            1         1   2023-01-01     500
1           2            2         2   2023-01-02     700
2           3            3         3   2023-01-03    1000
3           4            4         4   2023-01-04     100
4           5            5         5   2023-01-05     250

In [11]:
#Checking the orders dataframe
orders

   order_id  customer_id  order_date     product  price
0         1            1  2023-01-01       Phone    500
1         2            2  2023-01-02      Tablet    700
2         3            3  2023-01-03          TV   1000
3         4            4  2023-01-04  Headphones    100
4         5            5  2023-01-05  Smartwatch    250

In [12]:
def transform_data(customers, orders, payments):
    # Convert date fields to the correct format using pd.to_datetime
    customers['date_of_birth'] = pd.to_datetime(customers['date_of_birth'])
    orders['order_date'] = pd.to_datetime(orders['order_date'])
    payments['payment_date'] = pd.to_datetime(payments['payment_date'])
    
    # Merge customer and order dataframes on the customer_id column
    customer_orders = pd.merge(customers, orders, on='customer_id')
    
    # Merge payment dataframe with the merged dataframe on the order_id and customer_id columns
    customer_orders_payments = pd.merge(customer_orders, payments, on=['order_id', 'customer_id'])
    
    # Drop unnecessary columns like customer_id and order_id
    customer_orders_payments = customer_orders_payments.drop(['customer_id', 'order_id'], axis=1)
    
    # # Group the data by customer and aggregate the amount paid using sum
    grouped = customer_orders_payments.groupby(['first_name', 'last_name', 'email', 'country', 'gender', 'date_of_birth'])
    #grouped_agg = grouped.agg({'amount': 'sum', 'payment_id': 'nunique', 'order_date': 'max'})
    grouped_agg = grouped.agg({'amount': 'sum', 'payment_id': 'nunique', 'order_date': 'max', 'date_of_birth': 'first'})

    
    # # Create a new column to calculate the total value of orders made by each customer
    grouped_agg['total_order_value'] = grouped_agg['amount'] / grouped_agg['payment_id']
    
    # # Calculate the customer lifetime value using the formula CLV = (average order value) x (number of orders made per year) x (average customer lifespan)
    today = datetime.now()
    grouped_agg['average_customer_lifespan'] = (today - grouped_agg['date_of_birth']).dt.days / 365
    grouped_agg['number_of_orders_per_year'] = grouped_agg['payment_id'] / ((today - grouped_agg['order_date']).dt.days / 365)
    grouped_agg['clv'] = grouped_agg['total_order_value'] * grouped_agg['number_of_orders_per_year'] * grouped_agg['average_customer_lifespan']
  
    #return grouped_agg
    return grouped_agg

In [13]:
transform_data(customers, orders, payments)

,,,,,,amount,payment_id,order_date,date_of_birth,total_order_value,average_customer_lifespan,number_of_orders_per_year,clv
first_name,last_name,email,country,gender,date_of_birth,,,,,,,,
Emmanuel,Mukiza,emmanuel.mukiza@example.com,Rwanda,Male,1987-03-15,250,1,2023-01-05,1987-03-15,250.0,36.167123,3.016529,27274.793388
Grace,Uwase,grace.uwase@example.com,Rwanda,Female,1995-12-31,100,1,2023-01-04,1995-12-31,100.0,27.364384,2.991803,8186.885246
Jane,Smith,jane.smith@example.com,USA,Female,1992-05-12,700,1,2023-01-02,1992-05-12,700.0,31.002740,2.943548,63880.645161
John,Doe,john.doe@example.com,USA,Male,1990-01-01,500,1,2023-01-01,1990-01-01,500.0,33.364384,2.920000,48712.000000
Paul,Mukasa,paul.mukasa@example.com,Rwanda,Male,1985-07-28,1000,1,2023-01-03,1985-07-28,1000.0,37.797260,2.967480,112162.601626

In [ ]:
def load_data(grouped_agg):
    # Connect to the Postgres database

    """
    POSTGRES_ADDRESS = '35.237.226.12'
    POSTGRES_PORT = '5432'
    POSTGRES_USERNAME = 'postgres'
    POSTGRES_PASSWORD = 'password'
    POSTGRES_DBNAME = 'telecommunications_data'
    """
    
    try:
        conn = psycopg2.connect(database="telecommunications_data", user="postgres", password="password", host="35.237.226.12", port="5432")
    except psycopg2.Error as e:
        logging.error("Unable to connect to the database: %s", e)
        return

    # Create the necessary tables if it does not already exist
    with conn.cursor() as cur:
        try:
            cur.execute("""
                CREATE TABLE IF NOT EXISTS payments_customers_orders (
                    first_name VARCHAR(50),
                    last_name VARCHAR(50),
                    email VARCHAR(255),
                    country VARCHAR(50),
                    gender VARCHAR(10),
                    date_of_birth DATE,
                    amount INTEGER,
                    payment_id INTEGER,
                    order_date DATE,
                    total_order_value INTEGER,
                    average_customer_lifespan FLOAT,
                    number_of_orders_per_year FLOAT,
                    clv FLOAT
                )
            """)
            conn.commit()
        except psycopg2.Error as e:
            logging.error("Error creating table: %s", e)
            return

    # Loop through the dataframe and insert the data into the table using SQL INSERT statements
    with conn.cursor() as cur:
        try:
            for row in grouped_agg.itertuples():
                cur.execute("""
                    INSERT INTO payments_customers_orders (
                        first_name,
                        last_name,
                        email,
                        country,
                        gender,
                        date_of_birth,
                        amount,
                        payment_id,
                        order_date,
                        total_order_value,
                        average_customer_lifespan,
                        number_of_orders_per_year,
                        clv
                    ) VALUES (
                        %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s
                    )
                """, row[1:])
            conn.commit()
        except psycopg2.Error as e:
            logging.error("Error inserting data into table: %s", e)
            return

    # commit the changes and close the connection
    cur.close()
    conn.close()

In [ ]:
# define the tasks
extract_task = PythonOperator(
    task_id='extract_data',
    python_callable=extract_data,
    dag=dag
)

transform_task = PythonOperator(
    task_id='transform_data',
    python_callable=transform_data,
    dag=dag
)

load_task = PythonOperator(
    task_id='load_data',
    python_callable=load_data,
    dag=dag
)

# define the dependencies
extract_task >> transform_task >> load_task